.ant-layout-footer{
	color: rgba(255, 255, 255, 0.65);
    background: #001529;
	padding: 10px 50px;
	font-size: 12px;
}

.ant-layout-footer h6{
	color: rgba(255, 255, 255, 0.65);
}

.ant-layout-footer p{
	margin-bottom: 0;
}

.ant-layout-footer .about-us-footer{
	border-left: 1px solid #d3d3d3;
	padding: 20px;
	margin: 20px 0;
}